In [6]:
import pandas as pd 
import numpy as np
pandas_series=pd.Series()
print(pandas_series)

Series([], dtype: object)

In [7]:
#data 
numbers=[20,30,40,50]
pandas_series=pd.Series(numbers)
print(pandas_series)

letters=["a","b","c","c"]
pandas_series=pd.Series(letters)
print(pandas_series)

0    20
1    30
2    40
3    50
dtype: int64
0    a
1    b
2    c
3    c
dtype: object

In [8]:
#numpyda dızı elemanları homojen yapıda olmalı yanı hepsı aynı tur
#pandasta homojen olmak zorunda degıldır (int ve strıng olunca object dondurdu)

In [9]:
letters=["a","b","c","c",50,70]
pandas_series=pd.Series(letters)
print(pandas_series)

0     a
1     b
2     c
3     c
4    50
5    70
dtype: object

In [10]:
scaler=5
pandas_series=pd.Series(scaler)
print(pandas_series)

0    5
dtype: int64

In [11]:
pandas_series=pd.Series(5,[0,1,2,3])
print(pandas_series)
#indeks numarasınıda kendımız belırleyebılırız

0    5
1    5
2    5
3    5
dtype: int64

In [12]:
pandas_series=pd.Series(numbers,["a","b","c","d"])
print(pandas_series)

a    20
b    30
c    40
d    50
dtype: int64

In [13]:
dict={"a":10,"b":20,"c":30,"d":40}
pandas_series=pd.Series(dict)
print(pandas_series)

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
random_numbers=np.random.randint(10,100,6)
pandas_series=pd.Series(random_numbers)
print(pandas_series)

0    20
1    78
2    68
3    31
4    34
5    26
dtype: int32

In [15]:
pandas_series=pd.Series([20,30,40,50],["a","b","c","d"])
result=pandas_series["a"]
print(result)
result=pandas_series.iloc[-1] #indek ile  erısmek ıstersek ıloc kullan
print(result)
result=pandas_series[:2]
print(result)
result=pandas_series[["a","c"]]
print(result)
result=pandas_series.ndim
print(result)
result=pandas_series.dtype
print(result)
result=pandas_series.shape
print(result)
result=pandas_series.sum()
print(result)
result=pandas_series.max()
print(result)
result=pandas_series.min()
print(result)
result=pandas_series+50
print(result)
result=np.sqrt(pandas_series)
print(result)
result=pandas_series>=50
print(result)

print(pandas_series[pandas_series %2 ==0])

20
50
a    20
b    30
dtype: int64
a    20
c    40
dtype: int64
1
int64
(4,)
140
50
20
a     70
b     80
c     90
d    100
dtype: int64
a    4.472136
b    5.477226
c    6.324555
d    7.071068
dtype: float64
a    False
b    False
c    False
d     True
dtype: bool
a    20
b    30
c    40
d    50
dtype: int64

In [16]:
opel2018=pd([20,30,40,10],["astra","corsa","mokka","insignia"])
opel2019=pd([40,30,40,10],["astra","corsa","Grandland","insignia"])

total=opel2018 + opel2019
print(total)

TypeError: 'module' object is not callable

## Data Frame

In [17]:
s1=pd.Series([3,2,0,1])
s2=pd.Series([0,3,7,2])

data = {'apples': s1, 'oranges': s2} 
df=pd.DataFrame(data)
print(df)

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [18]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [19]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

In [20]:
df=pd.DataFrame([["Ahmet",50],["Ali",60],["Yagmur",70],["Cinar",80]])
print(df)

        0   1
0   Ahmet  50
1     Ali  60
2  Yagmur  70
3   Cinar  80

In [21]:
data=[["Ahmet",50],["Ali",60],["Yagmur",70],["Cinar",80]]
df=pd.DataFrame(data,columns=["Name","Grade"])
print(df)

     Name  Grade
0   Ahmet     50
1     Ali     60
2  Yagmur     70
3   Cinar     80

In [22]:
data=[["Ahmet",50],["Ali",60],["Yagmur",70],["Cinar",80]]
df=pd.DataFrame(data,columns=["Name","Grade"],index=[1,2,3,4])
print(df)
#indeks kolon 
data=[["Ahmet",50],["Ali",60],["Yagmur",70],["Cinar",80]]
df=pd.DataFrame(data,index=[1,2,3,4],columns=["Name","Grade"])
print(df)

     Name  Grade
1   Ahmet     50
2     Ali     60
3  Yagmur     70
4   Cinar     80
     Name  Grade
1   Ahmet     50
2     Ali     60
3  Yagmur     70
4   Cinar     80

In [23]:
list=[["Ahmet",50],["Ali",60],["Yagmur",70],["Cinar",80]]
dict={"Name": ["Ahmet","Ali","Yagmur","Cinar"],"Grade":[50,60,70,80]}

df=pd.DataFrame(dict,index=["212","232","236","456"])
print(df)

       Name  Grade
212   Ahmet     50
232     Ali     60
236  Yagmur     70
456   Cinar     80

In [24]:
dict_list=[
    {"Name":"Ahmet","Grade":50},
    {"Name":"Ali","Grade":60},
    {"Name":"Yagmur","Grade":70},
    {"Name":"Çınar","Grade":70}
]
df=pd.DataFrame(dict_list)
print(df)

     Name  Grade
0   Ahmet     50
1     Ali     60
2  Yagmur     70
3   Çınar     70

In [25]:
#df=pd.read_csv("sampşe.csv")
#df=pd.read_json("sample.json",encoding="UTF-8")
#df=pd.read_excel("sample.xlsx")

In [26]:
from numpy.random import randn
import pandas as pd

In [27]:
df=pd.DataFrame(randn(3,3), index= ["a","b","c"], columns=["columns1","columns2","columns3"])
#randn (3,3) 3 e 3 luk matrıs halınde -1 1 arası degerlerı verır

In [28]:
print(df)
result=df
result=df["columns1"]
result=type(df["columns1"])

   columns1  columns2  columns3
a -1.502009  1.483228 -0.514350
b  0.210152 -0.130635 -1.163139
c -0.789504  0.297948  0.431433

In [29]:
result=df[["columns1","columns2"]]
print(result)
#liste halınde verdık

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635
c -0.789504  0.297948

In [30]:
result=df.loc["a"]
print(result)
#satırı verır

columns1   -1.502009
columns2    1.483228
columns3   -0.514350
Name: a, dtype: float64

In [31]:
result=type(df.loc["a"])
print(result)
#loc["row","column"] => loc["row"] => loc[":" ,"column"] burada sadece kolon belırtmek ıstıyorsak   row olan kısma ıkı nokta koymalıyız

<class 'pandas.core.series.Series'>

In [32]:
result=df.loc[:,"columns1"]
print(result)
result=df["columns1"]
print(result) # aynı sonucu verır

a   -1.502009
b    0.210152
c   -0.789504
Name: columns1, dtype: float64
a   -1.502009
b    0.210152
c   -0.789504
Name: columns1, dtype: float64

In [33]:
result=df.loc[:,["columns1","columns2"]]
print(result) #yıne lıste halınde verdık

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635
c -0.789504  0.297948

In [34]:
result=df.loc[:,"columns1":"columns2"]
print(result) #baslangıc bıtıs dahıl
#cok fazla kolon varsa bellı aralıktakı kolonları secmek ıstersek ıkı nokta ıle belırtırız 
#satır secmek ıstemedıgımız ıcın tum satırları dahıl etmek ıcın : kullandık

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635
c -0.789504  0.297948

In [35]:
result=df.loc[:,:"columns2"]
print(result)

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635
c -0.789504  0.297948

In [36]:
result=df.loc["a":"b",:"columns2"]
print(result)
# : sonrakıde dahıl olur slicing islemlerinden farklı olarak

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635

In [37]:
result=df.loc[:"b",:"columns2"]
print(result)

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635

In [38]:
result=df.iloc[2] #2.ındekstekı satırı getırdı eger iloc demeyıp sadece loc deseydık hata alırdık ındeks numaralndırması sayı ıle degıl harf ıle belırttıgımız ıcın
print(result)

columns1   -0.789504
columns2    0.297948
columns3    0.431433
Name: c, dtype: float64

In [39]:
#tek hucreyı almak ıcın
result=df.loc["a","columns2"]
print(result)

1.4832281658496955

In [40]:
result=df.loc[["a","b"],["columns1","columns2"]]
print(result)

   columns1  columns2
a -1.502009  1.483228
b  0.210152 -0.130635

In [41]:
#kolon ekleme 
df["columns4"]=pd.Series(randn(3),["a","b","c"])
print(df)

   columns1  columns2  columns3  columns4
a -1.502009  1.483228 -0.514350 -0.162062
b  0.210152 -0.130635 -1.163139 -0.064929
c -0.789504  0.297948  0.431433  0.686693

In [42]:
df["columns5"]=df["columns1"]+df["columns2"]
print(df)

   columns1  columns2  columns3  columns4  columns5
a -1.502009  1.483228 -0.514350 -0.162062 -0.018781
b  0.210152 -0.130635 -1.163139 -0.064929  0.079517
c -0.789504  0.297948  0.431433  0.686693 -0.491556

In [44]:
#kolon sılme islemi
#print(df.drop("columns5",axis=1)) #axis degeri eksen degerını ıfade eder y eksenı ıcın 1 x eksenı ıcın 0 degerı 
#print(df) #orijinal df degerı degısmedı degısmesı ıcn bır parametre alır 
#orijinal df uzerınde bır gunelleme ıcın inplace kullanılır 
#result=df.drop("columns5",axis=1,inplace=True)
#print(result)

## data filtreleme

In [46]:
import pandas as pd 
import numpy as np

In [64]:
data=np.random.randint(10,100,75).reshape(15,5)
df=pd.DataFrame(data,columns=["columns1","columns2","columns3","columns4","columns5"])
result=df
result=df.columns
result=df.head()#ilk 5 kayıt
result=df.head(10) #ilk 10 kauıt
result=df.tail() # son 5 kayıt
result=df.tail(10) # son 10 kayıt
result=df["columns1"].head() # kolon 1 in ilk 5 kayıtı
result=df.columns1.head() #yukarıdakıyle aynı anlamda 
result=df[["columns1","columns2"]] #kolon secme
result=df[["columns1","columns2"]].head() #ilk 5 kayıt 
resulr=df[["columns1","columns2"]].tail() #son 5 kayıt
result=df[5:15][["columns1","columns2"]].head() #2.ilk 5 kayıt 
result=df[5:15][["columns1","columns2"]].tail() # 5 den 15e kadar olan kısımdakı son 5 kayıtı verır
print(result)

    columns1  columns2
10        84        99
11        89        58
12        38        41
13        44        31
14        39        85

## filtreleme işlemi

In [80]:
#result= df>50
#print(result)
#fitreyi df ye verirsek sadece istenilen ozellikleri gosterır
result=df[df>50] # krıtere uymayana nan der
result=df["columns1"]>50
result=df[df["columns1"]>50] # kolonla bırlıkte satırlarıda verdı
result=df[df["columns1"]>50][["columns1","columns2"]] #sadece kolon 1 ve kolon 2yı verdı
result=df[(df["columns1"]>50) & (df["columns1"]<70)]
result=df[(df["columns1"]>50) | (df["columns2"]<70)] # | or operatoru yanı sadece bırının dogru olması yeterlıdır
result=df[(df["columns1"]>50) | (df["columns2"]<70)][["columns1","columns2"]] # kolonları da fıltreledık
print(result)

    columns1  columns2
0         26        19
1         59        28
2         11        56
3         84        80
4         46        40
5         88        35
6         18        56
7         27        38
8         50        16
9         64        39
10        84        99
11        89        58
12        38        41
13        44        31

In [85]:
#query de kullanabılırız filtreleme için
result=df.query("columns1 >= 50 & columns1 %2==0 ")
result=df.query("columns1 >= 50 & columns1 %2==0 ")[["columns1","columns2"]] #kolonlarıda fıltreledık
print(result)

    columns1  columns2
3         84        80
5         88        35
8         50        16
9         64        39
10        84        99

## group by kullanımı (gruplama)

In [110]:
import pandas as pd
import numpy as np

In [115]:
personeller={
    "Çalışan":["Ahmet Yılmaz","Can Ertürk","Hasan Korkmaz","Cenk Saymaz","Ali Turan","Rıza Ertürk","Mustafa Can"],
    "Departman":["İnsan Kaynaklari","Bilgi İşlem","Muhasebe","İnsan Kaynaklari","Bilgi İşlem","Muhasebe","İnsan Kaynakları"],
    "Yaş":[30,25,45,50,23,34,42],
    "Semt":["Kadikoy","Tuzla","Maltepe","Tuzla","Maltepe","Tuzla","Kadikoy"],
    "Maaş":[5000,3000,4000,3500,2750,6500,4500]
}
df=pd.DataFrame(personeller)
result=df["Maaş"].sum()
result=df.groupby("Departman")# yaparsak sadece gerıye obje dondurud hafızafakı yerıyle bırlıkte
result=df.groupby("Departman").groups # gruplama ıslemı yaptık ınsan kaynaklarının hangı ındekse sahıp oldugunu verdı ornegın
result=df.groupby(["Departman","Semt"]).groups
semtler=df.groupby("Semt")
#for name ,group in semtler:
    #print(name)
    #print(group)
#print(result)
#Bu kod bloğu, her semtteki çalışanların gruplarını sırayla yazdırır.
#name değişkeni, grubun adını (yani semtin adını) ve group değişkeni ise o semtte çalışan çalışanların DataFrame'ini içerir
result=df.groupby("Departman").get_group("Muhasebe")
result=df.groupby("Departman").sum()
result=df.groupby("Departman").mean()
result=df.groupby("Departman")["Maaş"].mean()
result=df.grupby("Semt")["Yaş"].mean()
result=df.grupby("Semt")["Çalışan"].count() # semtlerdekı calısanların sayılarını verır 
result=df.grupby("Semt")["Yaş"].max()
#yukarıda lıste verır 
#tek  bir deger için ise
result=df.grupby("Departman")["Maaş"].max()["Muhasebe"]
result=df.groupby("Departman").agg(np.mean) # agg ile hesaplama yapabılırız
result=df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min])
result=df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min]).loc["Muhasebe"]
print(result)

TypeError: agg function failed [how->mean,dtype->object]

## kayıp ve bozuk verıler

In [158]:
import pandas as pd
import numpy as np 
data=np.random.randint(10,100,15).reshape(5,3)
df=pd.DataFrame(data,index=["a","c","e","f","h"],columns=["column1","column2","column3"])
df=df.reindex(["a","b","c","d","e","f","g","h"])
result=df
result=df.drop("column1",axis=1)
result=df.drop(["column1","column2"],axis=1)
result=df.drop("a",axis=0)
result=df.drop(["a","b"],axis=0)
# İSNULL KULLANIMI
result=df.isnull() #null olanları true gosterır
result=df.notnull() #null olmayanları true verır
result=df.isnull().sum() # null olmayanların toplam sayısı 
result=df["column1"].isnull()
newColumn=[np.nan,30,np.nan,51,np.nan,30,np.nan,10]
df["column4"]=newColumn
result=df[df["column1"].isnull()]
result=df[df["column1"].isnull()]["column1"]
result=df[df["column1"].notnull()]["column1"]
result=df.dropna()#nan varsa sıler satıra gore (axis=0)
result=df.dropna(axis=1) # sutuna gore 
#sadece 1 tane olsa bıle dırek o satırı sıler 
result=df.dropna(how="all") # tum satır nan ıse anca o zaman satırı sıler
result=df.dropna(subset=["column1","column2"]) # sadece belırttıgımız kolonlardakı nanları sıl
result=df.dropna(subset=["column1","column2"],how="all") # 2 kolondada nan varsa sıler 
result=df.dropna(subset=["column1","column2"],how="any") # herhangı bırınde nan varsa sıler
#belırtıgımız sayıda normal verıvarsa  o kayıtarı sılmez thresh de yanı en az sayıda normal verı =thresh
result=df.dropna(thresh=2)
result=df.dropna(thresh=3) # 1tane nan kabul edılebılır
result=df.fillna(value="no input")
result=df.fillna(value=1)
result=df.sum()
result=df.sum().sum() #df dekı toplamı verır
result=df.size # eleman sayısını verır
result=df.isnull().sum().sum() # dfdekı nan olanların toplam sayısını verır
def ortalama(df):
    toplam=df.sum().sum()
    adet=df.size-df.isnull().sum().sum()
    return toplam/adet
result=df.fillna(value=ortalama(df))  
print(result)

     column1    column2    column3    column4
a  24.000000  80.000000  44.000000  44.210526
b  44.210526  44.210526  44.210526  30.000000
c  70.000000  11.000000  37.000000  44.210526
d  44.210526  44.210526  44.210526  51.000000
e  42.000000  66.000000  30.000000  44.210526
f  23.000000  56.000000  74.000000  30.000000
g  44.210526  44.210526  44.210526  44.210526
h  28.000000  63.000000  71.000000  10.000000

In [176]:
data=pd.read_csv("C:/Users/hilal/OneDrive/Masaüstü/nba/player_data.csv")
data.dropna(inplace=True)
#data["name"]=data["name"].str.upper()
data["index"]=data["name"].str.find("a") # -1 yazarsa a bulunmadıgını ıfade eder
#data=data.name.str.contains("Alaa")
#data=data[data.name.str.contains("Alaa")]
#data=data.name.str.replace(" ","-")
data[["firstName","lastName"]]=data["name"].loc[data["name"].str.split().str.len()==2].str.split(expand=True)
print(data)

                     name  year_start  year_end position height  weight  \
0          Alaa Abdelnaby        1991      1995      F-C   6-10   240.0
1         Zaid Abdul-Aziz        1969      1978      C-F    6-9   235.0
2     Kareem Abdul-Jabbar        1970      1989        C    7-2   225.0
3      Mahmoud Abdul-Rauf        1991      2001        G    6-1   162.0
4       Tariq Abdul-Wahad        1998      2003        F    6-6   223.0
...                   ...         ...       ...      ...    ...     ...
4542    Derrick Zimmerman        2006      2006        G    6-3   195.0
4543    Stephen Zimmerman        2017      2017        C    7-0   240.0
4546             Jim Zoet        1983      1983        C    7-1   240.0
4547            Bill Zopf        1971      1971        G    6-1   170.0
4549           Matt Zunic        1949      1949      G-F    6-3   195.0

             birth_date                                college  index  \
0         June 24, 1968                        Duke University      2
1         April 7, 1946                  Iowa State University      1
2        April 16, 1947  University of California, Los Angeles      1
3         March 9, 1969             Louisiana State University      1
4      November 3, 1974              San Jose State University      1
...                 ...                                    ...    ...
4542   December 2, 1981           Mississippi State University     15
4543  September 9, 1996        University of Nevada, Las Vegas     15
4546  December 20, 1953                  Kent State University     -1
4547       June 7, 1948                    Duquesne University     -1
4549  December 19, 1919           George Washington University      1

     firstName      lastName
0         Alaa     Abdelnaby
1         Zaid    Abdul-Aziz
2       Kareem  Abdul-Jabbar
3      Mahmoud    Abdul-Rauf
4        Tariq   Abdul-Wahad
...        ...           ...
4542   Derrick     Zimmerman
4543   Stephen     Zimmerman
4546       Jim          Zoet
4547      Bill          Zopf
4549      Matt         Zunic

[4213 rows x 11 columns]

## data frame birlestirme

In [188]:
import pandas as pd
customers={ 
    "CustomerId": [1,2,3,4],
    "FirstName":["Ahmet","Ali","Hasan","Canan"],
    "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}
orders={
    "OrderId":[10,11,12,13],
    "CustomerId":[1,2,5,7],
    "OrderDate":["2010-07-04","2010-08-04","2010-07-07","2012-07-04"]
}
df_customers=pd.DataFrame(customers,columns=["CustomerId","FirstName","LastName"])
df_orders=pd.DataFrame(orders,columns=["OrderId","CustomerId","OrderDate"])
#print(df_customers)
#print(df_orders)
#print("**********")
# birlestirme merge()
#inner sadece ortak olanları birlestirdi
#result=pd.merge(df_customers,df_orders,how="inner")
#result=pd.merge(df_customers,df_orders,how="left") #soldakılerı getır sag tarafa nan verır
#result=pd.merge(df_customers,df_orders,how="right") # sag taraftakileri veri sol tarafa nan verır 
result=pd.merge(df_customers,df_orders,how="outer") #sag ve sol hepsını getırır
customersA={ 
    "CustomerId": [1,2,3,4],
    "FirstName":["Ahmet","Ali","Hasan","Canan"],
    "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}
customersB={ 
    "CustomerId": [4,5,6,7],
    "FirstName":["Yagmur","Çınar","Cengiz","Can"],
    "LastName":["Bilge","Turan","Yılmaz","Turan"]
}
df_customersA=pd.DataFrame(customersA,columns=["CustomerId","FirstName","LastName"])
df_customersB=pd.DataFrame(customersB,columns=["CustomerId","FirstName","LastName"])
#concat 2 df yı  bırlestırme 
#Alt alta eklendi
result=pd.concat([df_customersA,df_customersB])
#yanyana eklemek ıcın axis =1
result=pd.concat([df_customersA,df_customersB],axis=1)
print(result)

   CustomerId FirstName LastName  CustomerId FirstName LastName
0           1     Ahmet   Yılmaz           4    Yagmur    Bilge
1           2       Ali  Korkmaz           5     Çınar    Turan
2           3     Hasan    Çelik           6    Cengiz   Yılmaz
3           4     Canan   Toprak           7       Can    Turan

In [214]:
import pandas as pd
import numpy as np 
data={
    "Column1":[1,2,3,4,5],
    "Column2":[10,20,13,20,25],
    "Column3":["abc","bcaa","ade","cb","dea"]
}
df=pd.DataFrame(data)
def kareal(x):
    return x*x
kareal2=lambda x:x*x
result=df
result=df["Column2"].unique() #aynı olamaynları verı
result=df["Column2"].nunique() #unıq olanların sayısını verır
result=df["Column2"].value_counts() # her sayıdan kac tane oldugunu verdı
result=df["Column2"].value_counts()
result=df["Column1"]*2
result=df["Column1"].apply(kareal) #apply içine fonk verebılırız ve kareal fonk ıcerısıne column1 degerlerı gelır
result=df["Column1"].apply(kareal2) #yukarıdakını aynısı
df["Column4"]=df["Column3"].apply(len) # karakter sayısını soyler len metotu
result=df.columns
result=len(df.columns)#kolon sayısı
result=df.index# 0dan 5 e kadar gıttıgını ve adım sayının 1 oldugunu soyler
result=len(df.index) # 5 cıktısı verır satır sayısı
#result=df.info() #detaylı bılgılerı verır
#sıralama yapmak ıstersem
result=df.sort_values("Column2")
#azalan sıraya gore sıralamak ıcın ascendinge false vermelıyız varsayılanı truedır
result=df.sort_values("Column2",ascending=False)
print(result)

   Column1  Column2 Column3  Column4
4        5       25     dea        3
1        2       20    bcaa        4
3        4       20      cb        2
2        3       13     ade        3
0        1       10     abc        3

In [216]:
data={
    "Ay":["Mayıs","Haziran","Nisan","Mayıs","Haziran","Nisan","Mayıs","Haziran","Nisan"],
    "Kategori":["Elektronik","Elektronik","Elektronik","Kitap","Kitap","Kitap","Giyim","Giyim","Giyim"],
    "Gelir":[20,30,15,14,32,42,12,36,52]
}
    
df=pd.DataFrame(data)
print(df.pivot_table(index="Ay",columns="Kategori",values="Gelir"))
#pivot_Table kullanım

Kategori  Elektronik  Giyim  Kitap
Ay
Haziran         30.0   36.0   32.0
Mayıs           20.0   12.0   14.0
Nisan           15.0   52.0   42.0

TypeError: agg function failed [how->mean,dtype->object]